.active{
    background-color:gold;
    }
    li:hover
{
background-color:yellow;
color:white;
font-weight:bold;
}
#con{
    float:right;
    padding-right:10px;
    padding-left:10px;
    }
    nav{
        width:auto;
        background: black;
        overflow: auto;
        font-size: large;
        height: max-content;
    }