
<nav class="navbar navbar-expand-sm  navbar-dark">
  <ul class="navbar-nav">
   
    <li class="nav--item" id="con">
      <a routerLink="viewroom"routerLinkActive="active"class="nav-link">ViewRoom</a>
    </li>
   
    
   
    <li class="nav=item" id="con">
      <a routerLink="addbook"routerLinkActive="active"class="nav-link">BookNow </a>
    </li>
    <li class="nav=item" id="con">
      <a routerLink="addprofile"routerLinkActive="active"class="nav-link">Profile </a>
    </li>
    <li class= "nav=item" id="con">
      <a routerLink="profiles"routerLinkActive="active"class="nav-link">EditProfile</a>
    </li>
    
    </ul>
</nav>

<router-outlet></router-outlet>

  

