<!-- 
<body>
<h1><b>MORE ABOUT US</b></h1>
<h2>ADDRESS</h2>
<h2>Happy greens omr It Expressway,an HIG hotel 5,hotel-110rajiv gandhi salai-603002</h2>
<b><p><img src="./assets/hotelimg2.jpeg" height="300" width="300">
  The ITC Grand Chola is a 5-star luxury hotel in Chennai, India.[4] It is located in Guindy, 
    opposite SPIC building and along the same row of buildings as Ashok Leyland Towers. The building,
     designed by Singapore-based SRSS Architects, 100,000 sq ft with a d along the same row of buildings as Ashok Leyland Towers. The building,
     designed by Singapore-based SRSS Architects, 100,000 sq ft with a d along the same row of buildings as Ashok Leyland Towers. The building,
     designed by Singapore-based SRSS Architects, 100,000 sq ft with a
       30,000-sq ft pillar-less ballroom.[8] In terms of room inventory, it is the third largest 
       hotel in India with 600 rooms after Renaissance Mumbai Convention Centre Hotel  now rebranded 
       as The Westin Mumbai Powai Lake (759 rooms) and Grand Hyatt (694 rooms), both in Mumbai.[9]</p></b>
<b><p><img src="./assets/hotelimg.webp" height="300" width="300">
  The hotel's 600 rooms include 522 rooms and 78 serviced apartments. The rooms include 
    326 Executive Club rooms, 31 Eva rooms, 132 Towers rooms, 48 ITC One rooms, 14 Deluxe
     Suites each measuring he entire wing of the second floor, with rooms measuring 405 sq
       ft. The hotel has three wings: the first or primary wing houses d along the same row of buildings as Ashok Leyland Towers. The building,
       designed by Singapore-based SRSS Architects, 100,000 sq ft with a d along the same row of buildings as Ashok Leyland Towers. The building,
       designed by Singapore-based SRSS Architects, 100,000 sq ft with aall Executive Club rooms,
     and the second wing contains ITC One rooms, Towers rooms and all the Suites</p></b>
   <b> <img src="./assets/img6.webp" height="300" width="300">
      In February 2013, the hotel obtained a 5-star GRIHA rating—the highest 
        national rating for green buildings, conceived by The Energy Research Institute (TERI) and the
         Union Ministry of New and Renewable d along the same row of buildings as Ashok Leyland Towers. The building,
         designed by Singapore-based SRSS Architects, 100,000 sq ft with a d along the same row of buildings as Ashok Leyland Towers. The building,
         designed by Singapore-based SRSS Architects, 100,000 sq ft with a It has also been awarded with the title of Greenest Washrooms by 
           Washrooms and Beyond magazine.[21] In June 2014, the hotel was awarded the "Best Business Hotel"
            award at the third Annual Lonely
         Planet Magazine Travel Awards 2014.[38]</b>
         </body> -->

         
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>about hotel</title>
  <meta charset="utf-8">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <!-- <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"> -->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
  <style>
  body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-1 { 
    background-color: #da45b4; /* Green */
    color: #ffffff;
  }
  .bg-2 { 
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
  }
  .bg-3 { 
    background-color: #ffffff; /* White */
    color: #555555;
  }
  .bg-4 { 
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
  }
  /* .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
  } */
  /* .navbar {
    padding-top: 100px;
    padding-bottom: 100px;
    border: 0;
    border-radius: 50px;
    margin-bottom: 50px;
    font-size: large;
    letter-spacing: 100px;
    word-spacing: 100px;
  } */
  
  </style>
</head>
<body>


<!-- First Container -->
<div class="container-fluid bg-1 text-center"><br>
  <h1 class="margin">PAJABS</h1>
  <img src="../../../assets/logo1.jpg" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="350" height="350">
  <h1>FIVE STAR HOTEL</h1><br>
</div>


<!-- Second Container -->
<div class="container-fluid bg-2 text-center"><br>
  <h1 class="margin">More Information</h1>
  <p>The modern hotel was to a large extent the result of the railroad age; faster travel eliminated the need for the inns serving the old coach routes, and many of these were forced out of business as a result. On the other hand, many new and larger hotels were profitably built close to railroad stations. As travel for pleasure became increasingly popular during the 19th century, a new class of resort hotels was built in many countries. Along the French and Italian Riviera resort hotels were constructed to serve wealthy vacationers, who frequently came for the entire summer or winter season. Luxury hotels soon made their appearance in the cities; in 1889 the Savoy Hotel in London set a new standard with its own electricity and its host of special services for guests. </p>
  <a href="#" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-search"></span> Search
  </a><br><br>
</div><br>

<!-- Third Container (Grid) -->
<div class="container-fluid bg-3 text-center">    
  <h3 class="margin">More Information</h3>
  <div class="row">
    <div class="col-sm-4">
      <p>The resort hotel is a luxury facility that is intended primarily for vacationers and is usually located near special attractions, such as beaches and seashores, scenic or historic areas, ski parks, or spas. Though some resorts operate on a seasonal basis, the majority now try to operate all year-round. </p>
      <img src="../../../assets/img11.jpg" class="img-responsive margin" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-4"> 
      <p>Royal Hotels is a good choice for travellers looking for a budget accomodation in Kodaikanal. It is located in Near Kodaikanal Lake. Hotel is rated 3.8 out of 5, which is considered as good. The property enjoys a great location advantage and provides easy and fast connectivity to the major transit points of the city.</p>
      <img src="../../../assets/img9.jpg" class="img-responsive margin" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-4"> 
      <p>Good service quality and good rooms are some highly appreciated and talked about aspects of the Royal Hotels. With an overall rating of 3.8 out of 5 (54 Ratings), the property is rated very good by 38% of the guests, 22% have rated it good, 94% have rated it high and 5% have rated it as bad. </p>
      <img src="../../../assets/img3.jpg" class="img-responsive margin" style="width:100%" alt="Image">
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="container-fluid bg-4 text-center">
  <p>Visit Hotel by <a href="localhost:4200/home">www.pajabs.com</a></p> 
</footer>

</body>
</html>
 
