


<body>
    <link rel="stylesheet" href="contact.component.css">
<div class="background">
<b><h1>CONTACT US</h1></b><BR>

<img src="../../assets/phone.png" height="200" width="200" class="center">
<b><a  class="single" href="tel:8667898264" class="center-text">contactClickHere</a></b>
<img src="../../assets/email.png" height="200" width="200" class="center">
<b><a  class="single" href="mailto:akshayapargunan@gmail.com" class="center-text">EmailClickHere</a></b>







    <footer>
        <br>
        <br>
        <br>
        </footer>