.background{
    width:100%;
    height:100vh;
    background-image: url('../../assets/register.jpg');
background-repeat: no-repeat;
background-size: contain;
background-position: right;
}
h1{
   
    text-align: center;
    color: darkred;
}




.center{
    display:block;
    margin-left:auto;
    margin-right:auto;
   
}
.center-text{
    text-align: center;
    display:block;
}