
<body >
  <div class="background">
    <h1>choose the payment method</h1>
    <img src="./assets/gpay.png" height="100" width="100" class="center">
<b>  <p><a href="https://pay.google.com/" class="center-text">GpayClickHere</a></p></b>
    <img src="./assets/paytm.png" height="100" width="100" class="center">
  <b> <p><a href="https://business.paytm.com/payment-link" class="center-text">PaytmClickHere</a></p></b>
    <img src="./assets/phonepay.png" height="200" width="100" class="center">
    <b>  <p><a href="https://www.phonepe.com/" class="center-text">PhonepayClickHere</a></p></b>
