<h3>view profile Details</h3>
<div>
    <div>
        <label><b> CustomerNumber</b></label>{{profile.customerName}}
    </div>
    <div>
        <label><b> firstName</b></label>{{profile.firstName}}
    </div>
    <div>
        <label><b> lastName</b></label>{{profile.lastName}}
    </div>
    <div>
        <label><b> PhoneNo</b></label>{{profile.contactNumber}}
    </div>
    <div>
        <label><b> Email</b></label>{{profile.emailId}}
    </div>
    <div>
        <label><b> Address</b></label>{{profile.address}}
    </div>
    <div>
        <label><b> Age</b></label>{{profile.age}}
    </div>
    <div>
        <label><b> Dob</b></label>{{profile.dob}}
    </div>
</div>
