<html>
<head>
<style>
div.gallery {
  margin: 20px;
  border: 1px solid #ccc;
  float: left;
  width: 500px;
  align-self: center;
  border-image-width: 20px;
}

div.gallery:hover {
  border: 1px solid #e457b9;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
</style>
</head>
<body>

<div class="gallery">
  <a target="_blank" href="../../../assets/img1.jpg">
    <img src="../../../assets/img3.jpg" alt="Cinque Terre" width="1000" height="500">
  </a>
  <div class="desc">Click to see Another image</div>
</div>



<div class="gallery">
  <a target="_blank" href="../../../assets/imag2.jpg">
    <img src="../../../assets/img10.jpg" alt="Forest" width="1000" height="500">
  </a>
  <div class="desc">Click to see Another image</div>
</div>
<div class="gallery">
  <a target="_blank" href="../../../assets/img7.jpg" >
    <img src="../../../assets/img9.jpg" alt="Mountains" width="1000" height="500">
  </a>
  <div class="desc">Click to see Another image</div>
</div>

<div class="gallery">
  <a target="_blank" href="../../../assets/img5.jpg" >
    <img src="../../../assets/img6.jpg" alt="Northern Lights" width="1000" height="500">
  </a>
  <div class="desc">Click to see Another image</div>
</div>

<div class="gallery">
  <a target="_blank" href="../../../assets/img4.jpg" >
    <img src="../../../assets/img8.jpg" alt="Mountains" width="1000" height="500">
  </a>
  <div class="desc">Click to see Another image</div>
</div>
<div class="gallery">
  <a target="_blank" href="../../../assets/img11.jpg" >
    <img src="../../../assets/img10.jpg" alt="Mountains" width="1000" height="500">
  </a>
  <div class="desc">Click to see Another image</div>
</div>




</body>
</html>