
 <h1><img src="../assets/logo.jpg" height="50" width="50"> &nbsp;&nbsp;    WELCOME  TO  PAJABS HOTEL</h1>

<nav class="navbar navbar-expand-sm  navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item" >
      <a routerLink="home"routerLinkActive="active"class="nav-link">Home</a>
    </li>
    <li class="nav-item" id="au">
      <a routerLink="About"routerLinkActive="active"class="nav-link">AboutUs</a>
    </li>
    <li class="nav-item" id="gal">
      <a routerLink="Gallery"routerLinkActive="active"class="nav-link">Gallery</a>
    </li>
    <li class="nav--item" id="con">
      <a routerLink="Contact"routerLinkActive="active"class="nav-link">Contact</a>
    </li>
    <li class="nav--item" id="vr">
      <a routerLink="location"routerLinkActive="active"class="nav-link">Location</a>
    </li>
   <!-- <li class="nav--item" id="vr">
      <a routerLink="viewroom"routerLinkActive="active"class="nav-link">ViewRoom</a>
    </li>-->
   
    <li class= "nav=item" id="log">
      <a routerLink="login"routerLinkActive="active"class="nav-link">Login</a>
    </li>
   <li class= "nav=item" id="admin">
      <a routerLink="admin"routerLinkActive="active"class="nav-link">Admin</a>
    </li>
    <li class="nav=item" id="reg">
      <a routerLink="register"routerLinkActive="active"class="nav-link">NewUser?Register </a>
    </li>
   <!-- <li class="nav=item" id="book">
      <a routerLink="addbook"routerLinkActive="active"class="nav-link">BookNow </a>
    </li>
    <li class="nav=item" id="pro">
      <a routerLink="addprofile"routerLinkActive="active"class="nav-link">Profile </a>
    </li>
    <li class= "nav=item">
      <a routerLink="profiles"routerLinkActive="active"class="nav-link">EditProfile</a>
    </li>-->
    
    </ul>
</nav>

<router-outlet></router-outlet>

  
