<div class = "main-container">
  <div class="grid-wrapper">
    
      <div class="grid-content">
        
        <div class="grid-heading">
 
      <BR>
          <h1 style="text-align: center; font-family: camria;"> <BR>
            <BR><BR><BR><BR>
            <b><strong> BOOK NOW<BR> AND <BR>ENJOY!!!</strong></b>
          </h1><br><br><br>
  
           
            
        </div>
      </div>
    </div>
  
  </div>
  
  <div class="footer-wrapper">
      <div class="footer">
          <p>GRACE STAR HOTEL</p>
          <p>&#169; INDIA 2022/2023</p>
      </div>
  </div>
  